.wc-depay-icons-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}

.wc-depay-blockchain-icon {
  margin-left: .25em;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__label>span {
  width: 95%;
}
