.wc-depay-icons-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
}

.wc-depay-blockchain-icon {
  max-height: 28px !important;
  max-width: 28px !important;
  margin-left: 1px;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__label>span {
  width: 95%;
}

label[for*="payment_method_depay_wc_payments"] {
  width: 90%;
}
